#container{
margin-left:auto;
margin-right:auto;
        width: 100%;

}


#wrapper {
        text-align: left;
        margin: 0px auto;
        padding: 0px;
        border:0;
        width: 100%;
}

#side-a {
        width: 100%;
        margin: 20px;
}


        
#side-b {
        float: left;
        width: 350px;
}
#side-c {
        float: left;
        width: 35%;
}

#content {
        float: left;
        width: 35%;
}
      
#side-d {
        float: left;
        width: 100%;
}

