body{
 font-family:Arial, Helvetica, sans-serif;
 font:weight: lighter;
 background:black;
 margin-top:0px;
 margin-left:0px;
 margin-right:0px;
 color:white;
 height:100%;
}

.telly{
 background:#5F6C72;
 padding-top:50px;
 width:162px;
 min-height:120px;
 color:white;
 padding:16px;
 -moz-border-radius: 3px;
 border-radius: 3px;
}

.person{
 background:#5F6C72;
 width:162px;
 min-height:70px;
 color:white;
 padding:5px;
 margin:5px;
 -moz-border-radius: 3px;
 border-radius: 3px;
}


.dotted_box{
  width:216px;
  margin-top:20px;margin-bottom:10px;margin-left:20px;
  border: 2px dashed #2B383F;
  height: 125px;
  padding-left: 12px; 
  padding-bottom:30px;
  border-color:#2B383F;
  float:left;
}

.contrast{
  color:#5F6C72;
  font-size:16px;
}

.inner_scroll{
 width:12000px;
 height:100%;
}

.inner_noscroll{
 width:100%;
 overflow-x:hidden;
 height:100%;
}


.img_person{
 width:60px;
 float:left;
}

.img_tv{
 width:50px;
}

#tv{
 height:200px;
}

#container{
 position: absolute;
 overflow: scroll;
 top: 0; left: 0; right: 0; bottom: 0;
}


#roster_wrapper{
 position:fixed;
 right:0px;
 top:0px;
 width:320px;
 height:100%;
 z-index:1;
 background: url("../images/roster_bg2.png") repeat-y;
}


#side-a{
 margin-left:100px;
 text-color:white;
 padding-top:56px;
}

#side-b{
  padding-top:56px;
}

.slidey{
  height:220px;
  border-bottom-style: dotted ; 
  border-bottom-color: #2B383F; 
  border-bottom-width: 1px;
}

.slidey_noscroll{
  overflow:hidden;
}

#content2{
  padding-top:20px;
}

#side-c{
  padding-top:20px;
}

#header{
 position:absolute;#??
 left:0px;#??
 display: block;
 height: 32px; 
 font-size: 18px;
 text-indent: 10px;
 width: 100%;
 background: #eee;
 margin-top:0px;
 margin-right: 0px;
 margin-left: 0px;
 padding-bottom:10px;
 background: #2B383F;
 color:white;
 z-index:2;
}
  
#header span.form{
  position:absolute;
  right:248px;
  top:0px;  
  border:0;
}

#header input {  
  background: url(../images/search.png) no-repeat scroll 7px 7px;
  padding-left:30px;
  background-color: black;  
  font-size: 14px;
  margin-top:8px;
  color: #5F6C72;
  height:30px;
  width:200px;
  font-style:italic;
  border: 0px outset;
} 

#title{
 position:absolute;
 right:0px;
 top:12px;
 width:230px;
 background:#2B383F;
}

#main_title{
 position:absolute;
 left:7px;
 top:12px;
}

.sub_title{
 font-size: 16px;
 position:relative;
 left:20px;
}

.large{
  display:none;
}

.shared_by{
 color:white;
 margin-top:5px;
 font-size: 14px;
 font-weight: 100;
}

.p_title{
 color:white;
 margin-top:5px;
 font-size: 14px;
 font-weight: 100;
 width:100px;
 overflow:hidden;
}

.p_title a{
 color:white;
 margin-top:5px;
 font-size: 16px;
 font-weight: 100;
}

.p_title a:link{
  text-decoration:none;
}
.p_title a:hover{
  color:#3198C4;
}

.p_title_small{
 color:white;
 margin-top:5px;
 font-size: 14px;
 font-weight: 100;
}

.center{
 text-align:center;
}


.programme { 
 width: 232px;  padding-left: 20px; float:left; height:200px;z-index:-100
}

/* try to prevent accidental image dragging */        
.programme .img{
 max-width:232px;margin-top:10px;margin-bottom:10px;z-index:-2;
 -moz-user-select: none;
 -moz-user-select: -moz-none;
 -webkit-user-select: none;
 /* this will work for QtWebKit in future */
 -webkit-user-drag: none;
}

.large_prog {
 ##width:500px;
 margin:10px;
}

.large_prog .img{
 width:500px;margin:10px;
#margin-top:10px;margin-bottom:10px;
}

.large_prog .img{
 width:400px;margin-top:10px;margin-bottom:10px;
}

.p_title_large{
 color:white;
 padding-top:15px;
 font-size: 32px;
 font-weight: 100;
}

.snaptarget { 
}
        

.dd_highlight{
  border: 2px solid #3198C4;
  border-color:#3198C4;
}

.friend_name{
 position:relative;
 top:20px;
 left:10px;
 overflow:hidden;
}

.image_large{
  width:500px;
}

.description{
  font-size:14px;
}

.explain{
  font-size:12px;
}


#footer{
 position:fixed;
 bottom: 0;
 left: 0;  
 height: 40px; 
 font-size: 14px;
 text-indent: 10px;
 width: 100%;
 background: #2B383F;
 color:white;
 z-index:1;
}

#footer #button_container{
  position:absolute;
  left:28%;
}
 
.menu{
  height:30px;
  padding-top:10px;
}

.menu a{
  text-decoration:none;
  color: white;
}

.blue{
  color:white;
  background:#3198C4;
}

.grey{
  color:white;
  background:#2B383F;
}

#browse{
  float:left;
  padding-right:10px;
}
#random{
  float:left;
  padding-right:10px;
}

#search_results{
 margin-top:50px;
 padding-top:10px;
 width:10%;
 display:none;
}


h2{
 color:black;
 font-size:18px;
}

.dotted_spacer{
 border-top:2px dashed #2B383F;padding-top:20px;margin-top:10px;
}

.dotted_spacer2{
 border-top:1px dotted #838D93;padding-top:10px;margin:10px;
}


.bluebutton{
  height:22px;
  padding:10px;
  border:1px;
  border-color:black;
  color:white;
  background:#3198C4;
  width:205px;
  margin:10px;
  margin-left:20px;
}

.bluebutton a{
  text-decoration:none;
  color: white;
}


.forminput{
  height:30px;
  #width:80%;
  font-size:16px;
}

.bluesubmit{
  background: #3198C4;
  border: 1px #3198C4;
  color: white;
#  padding:10px;
#  margin-top:10px;
  float:right;
  font-size:20px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}


.play_button{
 # width:50px;
 # padding-bottom:5px;
 #padding-right:10px;
 position:absolute;
 top:180px;
 left:30px;
}

.notifications_red{
 position:absolute;
 right:26px;
 top:8px;
 width:28px;
 height:22px;
 background:#B5250C;
 display:none;
 text-align:center;
 padding-top:5px;
 padding-margin:5px;
 color:white;
 font-size:14px;
 z-index:2;
}


#notify_large{
 position:absolute;
 right:26px;
 top:34px;
 width:200px;
 min-height:50px;
 background:#B5250C;
 display:none;
 z-index:1001;
 color:white;
 font-size:14px;
}


.dotty_bottom{
  margin:5px;
  padding:10px;
  border-bottom: 1px dotted white;
}


#new_overlay{
  position:absolute;
  top:10px;
  left:10%;
  width:80%;
  color:white;
  background-color:black;
  z-index:10;
}

##new_overlay{
#  position:absolute;
#  top:0px;
#  left:25%;
#  width:54%;
#  color:white;
#  background-color:black;
#  z-index:10;
#}
 
 
#bg{
  background-color:#2B383F;
  position:fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index:9;
  opacity: 0.6;
}

.alert{
  background-color:white;
  position:absolute;
  top:100px;
  left:35%;
  height:120px;
  width:260px;overflow:auto;
  margin:20px;
  padding:10px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  z-index:10;
}

.more_blue{
  color:#5F6C72;
  margin-left:20px;
  padding:5px;
  font-size:14px;
  cursor:pointer;
}

.more_blue a:link{
  text-decoration:none;
}

.more_blue a:hover{
  color:#3198C4;
}

.close_button{
 position:absolute;
 top: 0; right: 0;
}


.link a{
 color:white;
 margin-top:5px;
 font-size: 16px;
 font-weight: 100;
}

.link a:link{
  text-decoration:none;
}
.link a:hover{
  color:#3198C4;
}

